<div class="container py-3">
    <h1 class="display-6">New User/Client Details</h1>
    <br>
    <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && submit(userForm)" class="row g-3">
        <div class="col-md-12">
            <div class="col-md-4">
                <label for="firstName" class="form-label">First Name</label>
                <input [(ngModel)]="userModel.firstName" name="firstName" #firstName="ngModel" type="text"
                    class="form-control" id="firstName" required
                    [ngClass]="{ 'is-invalid': userForm.submitted && firstName.invalid}">
                <div class="invalid-feedback" *ngIf="userForm.submitted && firstName.invalid">
                    First Name is Required
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <label for="lastName" class="form-label">Last Name</label>
                <input [(ngModel)]="userModel.lastName" name="lastName" #lastName="ngModel" type="text"
                    class="form-control" id="lastName" required
                    [ngClass]="{ 'is-invalid': userForm.submitted && lastName.invalid}">
                <div class="invalid-feedback" *ngIf="userForm.submitted && lastName.invalid">
                    Last Name is Required
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <label for="clientName" class="form-label">Client Name</label>
                <input [(ngModel)]="userModel.clientName" name="clientName" #clientName="ngModel" type="text"
                    class="form-control" id="clientName">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <label for="userName" class="form-label">User Name</label>
                <input [(ngModel)]="userModel.userName" name="userName" #userName="ngModel" type="text"
                    class="form-control" id="userName" required
                    [ngClass]="{ 'is-invalid': userForm.submitted && userName.invalid}">
                <div class="invalid-feedback" *ngIf="userForm.submitted && userName.invalid">
                    User Name is Required
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <label for="password" class="form-label">Password</label>
                <input [(ngModel)]="userModel.password" name="password" #password="ngModel" type="password"
                    class="form-control" id="password" required
                    [ngClass]="{ 'is-invalid': userForm.submitted && password.invalid}">
                <div class="invalid-feedback" *ngIf="userForm.submitted && password.invalid">
                    Password is Required
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <label for="description" class="form-label">Description</label>
                <input [(ngModel)]="userModel.description" name="description" #description="ngModel" type="text"
                    class="form-control" id="description">

            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <label for="selectExtension" class="form-label">Select Extension</label>
                <select class="form-select" [(ngModel)]="userModel.selectExtension" name="selectExtension" required
                 #selectExtension="ngModel" aria-label="Default select example"
                [ngClass]="{ 'is-invalid': userForm.submitted && selectExtension.invalid}">
    
                  <option selected>Select</option>
                  <option value="Covid">Ticket Extension</option>
                  <option value="CovidConsultation">Sales extension</option>
                  <option value="Consultation / Medicine Refill">Medicial Extension</option>
                </select>
                <div class="invalid-feedback" *ngIf="userForm.submitted && selectExtension.invalid">
                  Reason for Visit is Required
                </div>
            </div>

          </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>